{% extends "rest_framework/base.html" %}

{% block title %}{% if name %}{{ name }} – {% endif %}Exercise Tracker API{% endblock %}

{% block branding %}
<a class='navbar-brand' rel="nofollow" href="{% url 'api-root' %}">
    Exercise Tracker API
</a>
{% endblock %}

{% block content %}
{{ block.super }}
<p class="text-muted">
    Created for
    <a href="https://www.freecodecamp.org/">freeCodeCamp</a>
    by
    <a href="https://portfolio.djones.co/">Daniel Jones</a>.
    View source on
    <a href="https://github.com/tortxof/fcc-exercise-tracker-server">GitHub</a>.
</p>
{% endblock %}
